<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>

              LA MISE EN PLACE D’UNE SYSTEME INFORMATIQUE POUR L’ENREGISTREMENT ET LE CONTROLE DE FRAIS SCOLAIRE PAR QR CODE AU SEIN DU 
                      COLLEGE SHALOM.

        </h1>
        <a href="{% url 'admin:index' %}">Gestion des données</a>
        <a href="http://">Gestion des éditions</a>
    </center>
</body>
</html>